prefix     = "mycompany"
github_org = "my-github-org"
vpc_id     = "vpc-xxxxxxxxx"
subnet_ids = ["subnet-aaaaa", "subnet-bbbbb", "subnet-ccccc"]
runners_maximum_count = 10

# Set via environment variables:
# export TF_VAR_github_app_id="123456"
# export TF_VAR_github_app_installation_id="12345678"
# export TF_VAR_github_app_private_key_base64="..."
# export TF_VAR_github_webhook_secret="..."
